<form [formGroup]="form" (ngSubmit)="register($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Registro</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Email" formControlName="email" matInput type="email">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Password" formControlName="password" matInput type="password">
                    </mat-form-field>
                    <div *ngIf="passwordField.errors && form.get('password').dirty">
                        <p *ngIf="passwordField.hasError('password_invalid')">La contraseña debe tener 6 caracteres</p>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Registrar</button>
        </mat-card-actions>
    </mat-card>
</form>
