<input type="text" [(ngModel)]="title">
{{title}}

<app-product></app-product>

<div *ngIf="title === 'leo'">
  Este es leo
</div>

<div *ngIf="title === 'juan'">
  Este es juan
</div>

<div *ngIf="title === 'maria'">
  Ella es Maria
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'leo'">Este es Leo</p>
  <p *ngSwitchCase="'juan'">Este es Juan</p>
  <p *ngSwitchCase="'maria'">Ella es Maria</p>
  <p *ngSwitchDefault>No hay elementos</p>
</div>

<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{name}} {{i}}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  {{product.title}}
  <img [src]="product.image" alt="">
  {{product.price}}
</div>
